.app{
    width: 100%;
}
.main-HEADER{
width: 100%;
border: 1px solid black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo-container{
    width: 126px;
}

.logo{
    width: 100%;
}

.nav-items ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding: 0;
}

.body{
    width: 90%;
    margin: 10px auto;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.res-card{
    padding: 5px;
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
}
.res-card:hover{
    border: 1px solid black;
}


.res-logo{
    width: 100%;
    height: 36vh;
    margin: auto;
    border-radius: 20px;
}

.filter-btn{
    cursor: pointer;
    margin: 0 10px;
}

.shimmer-container{
    display: flex;
    gap:15px;
    width: 90%;
    margin: 10px auto;
}
.shimmer-cards{
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.login{
    cursor: pointer;
}
.filter{
    display: flex;
}
.res-containerIF{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.btn-prev{
 border:1px solid black;
 padding: 10px;
 margin: 10px;
 cursor: pointer;
border-radius: 50%;
}
.btn-next{
 border:1px solid black;
 padding: 10px;
 margin: 10px;
 cursor: pointer;
 border-radius: 50%;
}
.btn-next:hover,.btn-prev:hover{
    opacity: 0.7;
}

a{
    text-decoration: none;
    color: black;
}

/* RestaurantmenuCSS */
.menu{
    width: 70%;
    margin: auto;
}
.resMenuTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resName{
    font-size: 1.43rem;
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 8px;
}

.resCuisines,.resLocation{
    font-size: .93rem;
    color: #7e808c;
    margin-bottom: 4px;
}
.ratingSection{
    border: 1px solid black;

}
.delivery-fee{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #7e808c;
}

.deliveryTimeCost{
    display: flex;
    gap:20px;
    font-weight: 800;
    margin: 20px 0;
}

.deliveryTime{
    display: flex;
    gap: 7px;
}
.costOfTwo{
    display: flex;
    gap: 7px;
}
.itemInfo{
    display: flex;
    justify-content: space-between;
    /* list-style-type: none; */
    border: 1px solid black;
    align-items: center;
}

.itemImage{
    width: 100px;
}
.vegOnlyFilter{
    display: flex;
    align-items: center;
    gap: 10px;
}
.toggleContainer-OFF{
    position:relative;
    background-color:grey;
    margin:10px 0;
    height: 20px;
    width:4%;
    cursor:pointer;
    border-radius: 4px;
}
.toggleContainer-ON{
    position:relative;
    background-color:green;
    margin:10px 0;
    height: 20px;
    width:4%;
    cursor:pointer;
    border-radius: 4px;
}


.toggleButton-OFF{
    position:absolute;
    padding:5px;
    cursor:pointer;
    background-color:white;
    left: 0px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
}
.toggleButton-ON{
    position: absolute;
    padding:5px;
    cursor:pointer;
    background-color:white;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
}
.toggleButtonDot{
background: #0f8a65;
width: 8px;
height: 8px;
border-radius: 50%;
display: block;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);}


